-
    let logo = {src: "./img/common/header/logo.png", alt:"logo", link: "./index.html"}

    let burgerMenuItems = [
        {title:'Брокеры', link:'#'},
        {title:'Финансовые курсы', link:'#'},
        {title:'Инвестиционные компании', link:'#'},
        {title:'Форум', link:'#'}
    ];

    let burgerBtn = {title:'Академия бизнес инвесторов', link:'#'};

    let socialItems = [
        {src:'./img/common/header/social_icons.svg', link:'#', title:'instagram', id:'instagram'},
        {src:'./img/common/header/social_icons.svg', link:'#', title:'twitter', id:'twitter'},
        {src:'./img/common/header/social_icons.svg', link:'#', title:'facebook', id:'facebook'},
        {src:'./img/common/header/social_icons.svg', link:'#', title:'vk', id:'vk'}
    ];

header.header

    .container

        .header__body.g-0.row.justify-content-between

            a.header__logo.col-4(href=logo.link)
                img(src=logo.src alt=logo.alt)

            nav.header__nav

            button.header__burgerIcon.col-2
                span
                span
                span

.header__burgerContainer
    .header__burgerBody
        .header__burgerMenu
            ul
              each val in burgerMenuItems
                li
                    a(href=val.link)=val.title
        a.header__burgerBtn.blockBtn(href=burgerBtn.link)=burgerBtn.title
        .header__burgerSocial
            ul
              each val in socialItems
                li
                    a(href=val.link title=val.title)
                        svg
                            use(xlink:href=val.src+"#"+val.id)